body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.header {
    display: flex;
    height: 70px;
    padding: 0 10%;
    background-color: #1f2937;
    color: #f9faf8;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
}

.header-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav ul li {
    padding: 20px;
    list-style: none;
}

.header-contents {
    display: flex;
    padding: 5% 10%;
    background-color: #1f2937;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
}

.header-contents h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 10px;
}

.header-contents p {
    font-size: 18px;
    color: #e5e7eb; 
    margin: 10px;
}

.header-contents img {
    margin: 20px;
    border-radius: 5px;
}

.primary-btn {
    width: 100px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    text-align: center;
}

.main-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.main-field {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-info img {
    width: 450px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.main-info caption {
    font-size: 18px;
    color: #e5e7eb;
}