body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.header {
    display: flex;
    height: 70px;
    padding: 0 10%;
    background-color: #1f2937;
    color: #f9faf8;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.header-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav ul li {
    padding: 20px;
    list-style: none;

}